@import './variables.scss';

.btn{
  background-color: $menuColour5;
  // box-shadow: $boxShadowDarkBackground;
  @include flexRowCenter;
  justify-content: center;
  font-weight: bold;

  &:hover{
    cursor: pointer;
  }
}

.btnMd {
  height: 35px;
  border-radius: 5px;
}

.btnLg{
  height: 50px;
  width: 80%;
  max-width: 400px;
  border-radius: 6px;
  font-size: 1.25em;
}

.navbar {
  position: fixed;
  height: 20vh;
  width: 100%;
  background-color: $menuColour1;
  background-image: radial-gradient(circle 20vh at 80vw 12vh, $menuColour5 40%, rgba(0, 18, 184,.1) 48%),
    linear-gradient(320deg, $menuColour5 25%, $menuColour1 30%);
  color: $mainColour;
  @include flexRowCenter();
  z-index: 2;

  .titleContainer {
    margin-left: 20%;
    
    h1 {
      font-family: cursive;
      font-size: 38px;
      margin: 0;
    }
    h3 {
      margin: 0;
    }
  }
}

//////////////////
///////HERO///////
//////////////////

.hero{
  padding-top: 26vh;
  width: 100%;
  position: relative;
  @include flexColumnCenter;
  z-index: 0;
  
  .banner{
    width: 100vw;
    height: 75vw;
    position: relative;
    background: radial-gradient(circle 150vw at 0vw -20vw, transparent 65%, rgba(255, 255, 255, 1) 75%),
      radial-gradient(circle 175vw at 00vw 10vw, transparent 50%, rgba(0, 18, 184, .9)  50%),
      radial-gradient(circle 205vw at 00vw -20vw, transparent 50%, rgba(71, 88, 238, .5)  50%);

    h2{
      width: 150px;
      position: absolute;
      transform: translateX(-50%);
      margin-left: 70%;
      top: 35vw;
      background-color: transparent;
    }

    >div{
      position: unset !important;
    }
    
    .image{
      object-fit: contain;
      position: relative !important;
      height: unset !important;
      width: 100% !important;
      z-index: -1;
    }
  }

  .about {
    width: 90vw;
    margin-top: -50px;
    padding: 8px;
    background-color: rgba(255, 255, 255, 0.657);
    border-radius: 8px;
    box-shadow: $boxShadowWhiteBackground;
    z-index: 1;
  }
}

.mcButton {
  height: 50px;
  width: 50px;
  position: fixed;
  transform: translateY(-50%);
  top: 10%;
  left: calc(100% - 50px - 5%);
  @include flexColumnCenter();
  z-index: 3;

  &:hover{
    cursor: pointer;
  }

  .buttonLayer {
    background-color: $mainColour;
    height: 3px;
    width: 45px;
    position: absolute;
  }

  #mcTop {
    margin-top: 25px;
  }

  #mcMiddle { 
    margin-top: 25px;
  }

  #mcBottom {    
    margin-top: 25px;
  }
}

.wideMenu{ 
  display: none !important;
}

.menu {
  top: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: $menuColour2;
  @include flexColumnCenter();

  z-index: 2;

  ul {
    height: 60vh;
    margin-top: 20vh;
    @include flexColumnCenterBetween();
    list-style: none;

    a{

      &:hover{
        cursor: pointer;
      }

      li {
        color: $mainColour;
        font-size: 3vh;
      }
    }
  }
}


//////////////////
///////List///////
//////////////////

.listContainer {
  margin-top: 20px;
  height: auto;

  .imageContainer {
    width: 100%;
    height: auto;
    // display: flex;
    background-image: linear-gradient(135deg, rgb(0, 11, 107, .8) 30%, rgb(71, 88, 238, .9));

    h2 {
      position: absolute;
      color: $mainColour;
      font-size: 38px;
      margin-top: 10%;
      left: 50%;
      transform: translateY(-50%);
      transform: translateX(-50%);
      opacity: 1 !important;
    }

    img {
      z-index: -1;
    }
  }



  .serviceList{
    width: 100%;
    margin-top: 20px;
    position: relative;
    display: grid;
    // grid-template: auto / 1fr;
    grid-auto-flow: row dense;
    grid-auto-rows: auto;
    gap: 20px;
    // @include flexRowCenter;
    // justify-content: space-evenly;
    // flex-wrap: wrap;

    // background-color: rgb(200, 200, 200);
  }

  .teamList{
    margin: 0 auto;
    margin-top: -15%;
    display: grid;
    width: 90vw;
    grid-template: 66.6vw 33.3vw / 50% 50%;
    grid-template-areas: "owner owner";
    grid-auto-flow: row;
    grid-auto-rows: 33.3vw;
    column-gap: 0;
  }
}



//////////////////
///Service Item///
//////////////////

.serviceItem {
  width: 200px;
  height: 200px;
  align-self: center;
  justify-self: center;
  // position: absolute;
  // transform: translateX(-50%);
  // transform: translateY(-50%);
  // position: absolute;
  // margin-left: 5px;
  // margin-right: 5px;
  // margin-bottom: 30px;
  // position: sticky;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: $boxShadowWhiteBackground;
  z-index: 0;

  h3 {
    margin: 10px 0 0 1em;
  }
  
  .serviceInfoBackground{
    background-color: #fff;
    @include flexRowCenter;
    justify-content: center;
    width: 100%;
    height: 100%;
    // min-width: 320px;
    
    .serviceInfo{
      width: 100%;
      @include flexColumnCenterEven;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: $boxShadowWhiteBackground;

      .serviceCard{
        max-width: 200px;
        max-height: 200px;
        @include flexColumnCenterBetween;

        img{
          max-width: 200px;
        }
      }

      p{
        width: 90%;
      }
    }
  }

  .btn {
    box-shadow: $boxShadowWhiteBackground;
    margin-bottom: 1em;
    color: white;

    span{
      margin: 0 1em;
    }
  }
}

///////////////////
/////Team Item/////
///////////////////


.teamItem {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: $mainColour;
}

.teamItem:nth-child(1){ 
  grid-area: 1 / 1 / 3 / 3;
  justify-self: stretch;
  align-self: stretch;
}



//////////////////////
///Appointment Form///
//////////////////////

.appointmentForm{
  width: 95%;
  // height: 80vh;
  @include flexColumnCenterEven;
  padding: 10px 0;
  margin: 20px auto;
  font-size: 1.2em;
  border-radius: 8px;
  box-shadow: $boxShadowWhiteBackground;

  .formHeader{
    @include flexColumnCenter;
    margin-bottom: 1em;

    h3{
      margin: 5px;
    }

    p {
      display: block;
      margin: 0;
    }
  }

  form{
    width: 100%;
    height: 100%;
    @include flexColumnCenterEven;

   div {
     margin: 10px 0;
   }

   label {
     margin-bottom: 5px;
   }
   
   input {
     font-size: 1em;
     padding: 5px;
     border: 1.2px outset black;
     max-width: 350px;
    //  box-shadow: $boxShadowWhiteBackground
    }

    textarea {
      font-size: 1em;
      border-radius: 5px;
      padding: 5px;
      max-width: 350px;
    }
    
    .formInput{
      @include flexColumnCenter;
      width: 80%;
      
      input{
        width: 100%;
        border-radius: 5px;
      }
      
      textarea {
        width: 100%;
        height: 100px;
      }
    }
    
    
    .preferences {
      width: 100%;
      @include flexColumnCenterEven;
      
      .timePreferences{
        width: 130px
      }
      
      .dayPreferences{
        width: 175px
      }
      
      div {
        // width: 40%;
        @include flexColumnCenter;
        
        select {
          width: 100%;
          border-radius: 5px;
          
          option{
            // transform: translateX(-50%);
            // margin-left: 50%;
            @include flexColumnCenter;
            margin-top: 2px;
            font-size: 1.25em;
          }
        }
      }
    }
    
    .btn{
      box-shadow: $boxShadowWhiteBackground;
      color: #fff;
    }
  }
}


//////////////////
//////Footer//////
//////////////////

.footer {
  width: 100%;
  min-height: 400px;
  position: relative;
  padding-bottom: 20px;
  margin-top: 20px;
  @include flexColumnCenterEven;
  background-color: $menuColour1;
  color:rgb(195, 195, 195);


  .mapContainer {
    width: 100vw;
    height: 250px;
    
  }
  
  .contact {
    width: 100%;
    min-height: 200px;
    @include flexColumnCenterEven;

    h4{
      margin-bottom: 0;
    }

    address {

      p {
        margin: 0;
        padding: 0;
      }
    }

    .addressBtns{
      // width: 60%;
      position: relative;
      align-self: stretch;
      @include flexColumnCenterEven;

      .btn {
        margin: 10px
      }
    }
  }

  // ul{
  //   width: 15%;
  //   height: 40vw;
  //   padding: 0;
  //   position: absolute;
  //   margin-top: 5%;
  //   left: 85%;
  //   @include flexColumnCenterBetween;
  //   list-style: none;

  //   li {
  //     display: block;
  //     height: 21px;
  //     width: 21px;
  //   }
  // }

  .btn {
    box-shadow: $boxShadowDarkBackground;
  }
}


//*************************//
//**/////////////////////**//
//**////Media Queries////**//
//**/////////////////////**//
//*************************//

@media only screen and (min-width: 400px){


  .listContainer{


    .serviceList{
      grid-template: auto / 1fr 1fr;
      // grid-template-columns: 1fr;
    }

    .teamList {
      width: 90%;
      grid-template: 33.4vw 33.3vw 33.3vw / repeat(3, 1fr);
    }

  }
}

@media only screen and (min-width: 550px){


  .footer{

    .contact{
      flex-direction: row;

      .addressBtns {
        width: 60%;

        .btn{
          margin: 0;
        }
      }
    }


  }
}

@media only screen and (min-width: 600px){


  .listContainer{


    .serviceList{
      grid-template: auto / 1fr 1fr 1fr;
      gap: 20px 0;
    }

    .teamList {
      width: 90%;
      height: 44vw;
      grid-template: repeat(2, 1fr)/ repeat(3, 1fr);
      grid-auto-flow: column dense;
      grid-auto-columns: 1fr;
    }

  }
}

@media only screen and (min-width: 850px){

  .appointmentForm{
    flex-direction: row;

    .formHeader {
      transform: translateY(-50%);
      margin-top: 25%;
      position: relative;
      align-items: center;
      align-self: flex-start;
    }
    
    form {
      width: 50%;
    }
  }
}


@media only screen and (min-width: 1000px){

  .listContainer{

    .serviceList{
      grid-template: auto/ 1fr 1fr 1fr 1fr;
    }
  }

  .mcButton{
    display: none;
  }

  .mobileMenu{
    display: none;
  }

  .wideMenu{
    display: flex !important;
  }

  .navbar{
    height: 12vh;
  }

  .menu{
    height: 5vh;
    width: 100%;
    top: 12vh;

    ul {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      flex-direction: row;
      justify-content: normal;
      
      a {
        height: 100%;
        width: 20vw;
        @include flexRowCenter;
        justify-content: center;

        li {
          
          font-size: 1.5em;
        }

        &:hover {
          background: lighten($menuColour2, 10);
        }
      }
    }
  }
}

